/* home.css */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #bba58f;
}

.home-container {
    text-align: center;
    max-width: 100%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding: 20px;
    background: #e8d9cd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-container p {
    font-size: 1.5rem;
    line-height: 1.4;
}

.home-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

.gif-container {
    padding: 20px;
    width: 50%;
    height: 50%;
}

.home-description {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}