/* Header.css */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #523d35;
}

.header-nav {
    display: flex;
    gap: 100px;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: #efefe9;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #0056b3;
    /* Darker blue on hover */
}